@inherits LayoutComponentBase
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IMS.Components.Layout.NavMenu> L

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">@L["About"]</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    @L["UnhandledError"]
    <a href="." class="reload">@L["Reload"]</a>
    <span class="dismiss">🗙</span>
</div>
