services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: supersecret
      POSTGRES_DB: ims
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "9556:5432"

volumes:
  pgdata: