@page "/"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IMS.Components.Pages.Home> L

<PageTitle>Home</PageTitle>

<h1>@L["Title"]</h1>

<br />

<p>
    @((MarkupString)GetWelcomeMessage())
</p>

@code{
    private string GetWelcomeMessage()
    {
        return L["WelcomeMessage"];
    }
}