@page "/logs"
@using IMS.Helpers
@using IMS_Shared.Dtos
@using System.ComponentModel.DataAnnotations
@inject InventoryApiClient ApiClient
@rendermode InteractiveServer
@attribute [StreamRendering]

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<h3>Logs</h3>

<br/>

@if (isLoading == null)
{
    <p>The page had problems loading.</p>
    <p>Error: @errorMessage</p>
    <br />
    <p>Please reload the page.</p>
}
else if (isLoading.Value)
{
    <p>Loading...</p>
}
else
{
    <MudDataGrid T="LogDto" MultiSelection="true" Items="@logs" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@_quickFilter" Hideable="true" >
        <ToolBarContent>
            <MudText Typo="Typo.h6">Log Items</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Id"/>
            <PropertyColumn Property="x => x.TypeEnum" Title="Log Type" />
            <PropertyColumn Property="x => x.Date" />
            <PropertyColumn Property="x => x.Description"/>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="LogDto" />
        </PagerContent>
    </MudDataGrid>
}

@code {
    private List<LogDto> logs = new();
    private string _searchString = string.Empty;
    private bool? isLoading = true;
    private string errorMessage = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        await GetLogsAsync();

        if (isLoading != null)
            isLoading = false;
    }

    private Func<LogDto, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.Id.ToString().Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Date.ToString().Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.TypeEnum.ToString().Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Description?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) ?? false)
            return true;

        return false;
    };

    private async Task GetLogsAsync()
    {
        //TODO: Paginate logs
        var result = await ApiClient.GetLogsAsync();
        if (!result.Success)
        {
            errorMessage = result.Error;
            isLoading = null;
            return;
        }

        logs = result.Data ?? new();
    }
}
